### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

In [ ]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

## Total Players

In [ ]:
# Count total number of players

purchase_data["SN"].nunique()

TotalPlayers = purchase_data["SN"].nunique()

# Create data frame for total number of players

TotalPlayers_df = pd.DataFrame({"Total Players": [TotalPlayers]})
TotalPlayers_df

## Purchasing Analysis (Total)

In [ ]:
# Calculate number of unique items

UniqueItems = purchase_data["Item ID"].unique()
CountOfUniqueItems = pd.DataFrame(UniqueItems).count()
CountOfUniqueItems

# Calculate the average price

AveragePrice = purchase_data["Price"].mean()
AveragePrice

# Calculate the number of number of purchases

NumberOfPurchases = purchase_data["Purchase ID"].value_counts()
SumNumberOfPurchases = NumberOfPurchases.sum()
SumNumberOfPurchases

# Calculate the total revenue

TotalRevenue = purchase_data["Price"].sum()
TotalRevenue

# Create data frame

purchase_analysis = {'Number of Unique Items': CountOfUniqueItems,
                  'Average Price': AveragePrice,
                  'Number of Purchases': SumNumberOfPurchases,
                  'Total Revenue': TotalRevenue}

purchase_analysis_df = pd.DataFrame(purchase_analysis)
purchase_analysis_df

## Gender Demographics

In [ ]:
player_demo = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demo = player_demo.drop_duplicates()

In [ ]:
# Count total number of players


TotalPlayers = player_demo["Gender"].count()
TotalPlayers

In [ ]:
# Count  number of male players

MalePlayers = (player_demo["Gender"] == "Male").sum()
MalePlayers

In [ ]:
# Count number of female players

FemalePlayers = (player_demo["Gender"] == "Female").sum()
FemalePlayers

In [ ]:
# Count number of other players

OtherPlayers = (player_demo["Gender"] == "Other / Non-Disclosed").sum()
OtherPlayers

In [ ]:
# Calculate percentage of male players

MalePlayersPercent = round((MalePlayers)/(TotalPlayers)*100)
MalePlayersPercent

In [ ]:
# Calculate percentage of female players

FemalePlayersPercent = round((FemalePlayers)/(TotalPlayers)*100)
FemalePlayersPercent

In [ ]:
# Calculate percentage of other players

OtherPlayersPercent = round((OtherPlayers)/(TotalPlayers)*100)
OtherPlayersPercent

In [ ]:
# Create data frame for gender demographics

gender_demographics = pd.DataFrame({"Gender":["Male", "Female","Other / Non-Disclosed"], "Total Count":[MalePlayers, FemalePlayers, OtherPlayers], "Percentage of Players": [MalePlayersPercent, FemalePlayersPercent, OtherPlayersPercent]})

gender_demographics = gender_demographics.set_index("Gender")
gender_demographics

## Purchasing Analysis (Gender)

In [174]:
# Calculate purchase count

Purchasinggb = purchase_data.groupby(["Gender"])
PurchaseCount = Purchasinggb.count()["Price"]
AveragePurchasePrice = Purchasinggb.mean()["Price"]
TotalPurchaseValue = Purchasinggb.sum()["Price"]
AverageTotalPurchase = TotalPurchaseValue/gender_demographics["Total Count"]

SummaryTable = pd.DataFrame({"Purchase Count": PurchaseCount,
                            "Average Purchase Price": AveragePurchasePrice,
                            "Total Purchase Value": TotalPurchaseValue,
                            "Average Total Purchase per Person": AverageTotalPurchase})

SummaryTable = SummaryTable[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Total Purchase per Person"]]

SummaryTable = SummaryTable.round(2)
SummaryTable

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

In [205]:
# Establish bins for ages

nodupdf = purchase_data.loc[:, ["SN", "Age"]].drop_duplicates()


bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 990]
GroupNames = ['<10', '10-14','15-19','20-24', '25-29','30-34','35-39','40+']



nodupdf["Age Ranges"] = pd.cut(nodupdf ["Age"], bins, labels = GroupNames)
AgeDemographicsTotals = nodupdf ["Age Ranges"].value_counts()
AgeDemographicsPercents = (AgeDemographicsTotals / TotalPlayers * 100).round(2)

# Create data frame 

AgeDemographics = pd.DataFrame({"Age Group Total": AgeDemographicsTotals, "Percentage of Total": AgeDemographicsPercents, })
AgeDemographics.sort_index()

       Age Group Total  Percentage of Total
<10                 17                 2.95
10-14               22                 3.82
15-19              107                18.58
20-24              258                44.79
25-29               77                13.37
30-34               52                 9.03
35-39               31                 5.38
40+                 12                 2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [218]:

purchase_data["Ranges"] = pd.cut(purchase_data["Age"], bins, labels = GroupNames)
purchase_data

AgePurchaseData = purchase_data.groupby(['Ranges'])

PurchaseCount = AgePurchaseData['Purchase ID'].count()
PurchaseCount

AveragePurchasePrice = AgePurchaseData['Price'].mean()
AveragePurchasePrice

TotalPurchase = AgePurchaseData['Price'].sum()
TotalPurchase


AverageTotalPurchase = round(TotalPurchase/AgeDemographics["Total Count"],2)
AverageTotalPurchase
                                                           
SummaryTable = pd.DataFrame({"Purchase Count": PurchaseCount,
                            "Average Purchase Price": AveragePurchasePrice,
                            "Total Purchase Value": TotalPurchase,
                            "Average Total Purchase per Person": AverageTotalPurchase})

SummaryTable = SummaryTable.round(2)
SummaryTable

KeyError: 'Total Count'

## Top Spenders

In [216]:
GroupedBySNCountMean =  purchase_data.groupby('SN').agg({'Price': ['count']})
GroupedBySNCountMean.columns = ['Total Count']
GroupedBySNCountMean.sort_values('Total Count', ascending=False).head()

GroupedBySNCountMean2 = purchase_data.groupby('SN').agg({'Price': ['count', 'mean', 'sum']})
GroupedBySNCountMean2.columns = GroupedBySNCountMean2.columns.droplevel(0)
GroupedBySNFinal = GroupedBySNCountMean2.sort_values(['count','mean'], ascending=False).head()
GroupedBySNFinal

             count      mean    sum
SN
Lisosia93        5  3.792000  18.96
Idastidru52      4  3.862500  15.45
Iral74           4  3.405000  13.62
Chamjask73       3  4.610000  13.83
Iskadarya95      3  4.366667  13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame